.section {

    &_button {
        margin-bottom: 1rem;
    }

    &_title {
        font-size: 2.2rem;
        font-weight: 600;
    }

    &_detail {
        display: grid;
        gap: 2rem;
        grid-template-columns: auto 1fr;
    }

    &_content {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &_link {
        font-weight: 600;
        display: flex;
        gap: 0.1rem;
        align-items: center;
        font-size: 1.5rem;
        margin-left: -0.45rem;
        width: fit-content;
        margin-bottom: 1.5rem;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: -0.3rem;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: var(--accent-color);
            transition: width 0.4s ease, left 0.4s ease;
        }

        &:hover::before {
            width: 100%;
            left: 0.4rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &_image {
        height: auto;
        width: 275px;
        margin-bottom: 0.5rem;
        border: 2px solid var(--medium-grey);
    }

    &_label {
        font-weight: bold;
    }
}

// Styles for large screens

@media (min-width: 760px) {

    .section {
        max-width: 75%;
        margin-inline: auto;
    }

}

// Styles for tablets

@media (max-width: 760px) {

    .section {
        &_button {
            margin-top: 0.5rem;
        }

        &_detail {
            gap: 1.3rem;
    
        }

        &_image {
            width: 175px;
        } 
    }

}

// Styles for mobile devices

@media (max-width: 480px) {

    .section {
        &_title {
            margin-bottom: 0;
        }

        &_detail {
            grid-template-columns: auto;
        }

        &_image {
            display: none;
        }
    }

}
