.section {
    max-width: 1000px;

    &_button {
        margin-bottom: 1rem;
    }

    &_detail {
        display: grid;
        gap: 2em;
        grid-template-columns: auto 1fr;
    }

    &_content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &_image {
        height: auto;
        width: 275px;
        margin-bottom: 0.5em;
        border-radius: 8px;
        box-shadow: 0 4px 8px var(--box-shadow); 
    }

    &_label {
        font-weight: bold;
    }
}

@media (max-width: 760px) {
    .section {

        &_button {
            margin-top: 0.5rem;
        }
        
        &_detail {
            gap: 1.3rem;
    
        }

        &_image {
            width: 175px;
        } 
    }
}

@media (max-width: 480px) {
    .section {
        &_title {
            margin-bottom: 0;
        }

        &_detail {
            grid-template-columns: auto;
        }

        &_image {
            display: none;
        }
    }
}
