.grid {

    &_header {
        margin-bottom: 2rem;
        text-align: center;
    }

    &_list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
        gap: 1rem;
    }

    &_item {
        display: contents;
    }

}
