.grid {

    &_header {
        margin-bottom: 1.5rem;
        text-align: center;
    }

    &_list {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    &_item {
        display: contents;
    }

    &_link {
        flex: 1 1 150px;
        list-style-type: none;
        display: flex;
        align-items: stretch;
        
        & a:hover {
            text-decoration: none;
        }
    }
}

// Styles for tablets

@media (max-width: 760px) {
    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// Styles for mobile devices

@media (min-width: 565px) {
    .grid {
        &_link {
            min-width: 200px;
            max-width: 225px;
            aspect-ratio: 2 / 3;
        }
    }
}
