:root {
  --primary-color: rgba(100, 130, 217, 0.95);
  --background-color: #FAFAFA;
  --secondary-background: #F0F0F0;
  --text-color: rgba(57, 66, 93, 0.95);
  --accent-color: #b54c43;
  --dark-blue: rgba(57, 66, 93, 0.95);
  --blue: rgba(57, 66, 93, 0.95);
  --light-grey: #cccccc;
  --medium-grey: #666666;
  --card-background: rgba(57, 66, 93, 0.95);
  --box-shadow: rgba(0, 0, 0, 0.2);
  --menu-background: rgb(222, 222, 225);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1.5;
}

html, body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  color: var(--text-color);
}

main {
  margin: 10rem 3rem 1rem;
}

section {
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--dark-blue);
  }

  &:disabled {
    background-color: var(--light-grey);
    color: var(--medium-grey);
    cursor: not-allowed;
    opacity: 0.6;
  }
}

input {
  font-size: 1.2rem; 
  padding: 0.68rem 1rem;
  border: 2px solid var(--light-grey);
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: border-color 0.3s;

  &:focus {
      border-color: var(--primary-color); 
      outline: none;
  }

  &::placeholder {
      color: #888;
      font-size: 1rem;
  }
}

@media (max-width: 768px) {
  main {
    margin: 12.75rem 3rem 1rem;
  }

  button, input {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  main {
    margin: 12rem 2rem 1rem;
  }

  button, input {
    font-size: 0.8rem;
  }
}
