:root {
  --accent-color: #6482d9f2;
  --accent-color-dark: #3f577f;
  --background-color: #fdfdfd;
  --lightest-grey: #f4f4f4;
  --light-grey: #cccccc;
  --gray: #b4b4b4;
  --medium-grey: #666666;
  --darkest-grey: #4d4d4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  letter-spacing: -0.5px;
}

html, body {
  line-height: 1.5;
  color: var(--darkest-grey);
  background-color: var(--background-color);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  color: var(--darkest-grey);
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

button {
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: var(--accent-color);
  color: var(--background-color);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--accent-color-dark);
  }

  &:disabled {
    background-color: var(--light-grey);
    color: var(--medium-grey);
    cursor: not-allowed;
    opacity: 0.6;
  }
}

input {
  font-size: 1.2rem;
  padding: 0.68rem 1rem;
  border: 2px solid var(--light-grey);
  width: 100%;
  transition: border-color 0.3s;

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }

  &::placeholder {
    color: var(--medium-grey);
    font-size: 1rem;
  }
}

// Styles for tablets

@media (max-width: 575px) {
  button, input {
    font-size: 1rem;
  }

  button {
    padding: 0.75rem;
  }
}
