:root {
  --primary-color: #6482d9f2;
  --background-color: #fdfdfd;
  --secondary-background: #F0F0F0;
  --text-color: #4d4d4d;
  --accent-color: #b54c43;
  --dark-blue: #4d4d4d;
  --blue: #4d4d4d;
  --light-grey: #cccccc;
  --medium-grey: #666666;
  --card-background: rgba(77, 77, 77, 0.85);

  --color-lightest-gray: #e9e9e9; /* (233, 233, 233) */
  --color-lighter-gray: #e1e1e1; /* (225, 225, 225) */
  --color-light-gray: #d0d0d0; /* (208, 208, 208) */
  --color-medium-gray: #b4b4b4; /* (180, 180, 180) */
  --color-dark-gray: #808080; /* (128, 128, 128) */
  --color-lighter-2: #f2f2f2; /* (242, 242, 242) */
  --color-lighter-1: #ebebeb; /* (235, 235, 235) */
  --color-darker-1: #666666; /* (102, 102, 102) */
  --color-darker-2: #4d4d4d; /* (77, 77, 77) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

html, body {
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #808080;
  }

  &:disabled {
    background-color: var(--light-grey);
    color: var(--medium-grey);
    cursor: not-allowed;
    opacity: 0.6;
  }
}

input {
  font-size: 1.2rem; 
  padding: 0.68rem 1rem;
  border: 2px solid var(--light-grey);
  border-radius: 4px;
  width: 100%;
  transition: border-color 0.3s;

  &:focus {
    border-color: var(--primary-color);
    outline: none;
  }

  &::placeholder {
      color: #888;
      font-size: 1rem;
  }
}

// Styles for tablets

@media (max-width: 768px) {
  button, input {
    font-size: 1rem;
  }
}

// Styles for mobile

@media (max-width: 480px) {
  button, input {
    font-size: 0.8rem;
  }
}
