.card {
    $border-radius: 8px;
    transition: transform 200ms ease-in-out;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;

    &:hover {
        transform: scale(1.05);
        text-decoration: none !important;
    }

    &_content {
        position: relative;
        border-radius: $border-radius;
        overflow: hidden;
        flex-grow: 1;
        display: flex;
        align-items: stretch;
    }

    &_image {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: $border-radius;
    }

    &_overview {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--card-background);
        color: var(--background-color);
        padding: 20px;
        opacity: 0;
        visibility: hidden;
        z-index: 2;
        transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
    }

    &_hoverTitle {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 0.3rem;
    }

    &:hover .card_overview {
        opacity: 1;
        visibility: visible;
    }
}

// Styles for mobile devices

@media (max-width: 565px) {
    .card {
        width: 300px;

        &_content {
            height: 450px;
        }
    }
}

// Disable hover effects on touch devices

@media (hover: none) and (pointer: coarse) {
    .card {
        &:hover {
            transform: none;
        }

        .card_overview {
            opacity: 0;
            visibility: hidden;
        }
    }
}
