.card {
    background-color: var(--secondary-background);
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 425px;
    overflow: hidden;
    padding: 1em;
}

.image {
    min-height: 300px;
    max-height: 300px;
    width: 200px;
    margin-bottom: 0.5em;
}