.container {
  max-width: 1890px;
  margin: auto;
  position: relative;

  &_content {
    margin: 2.75rem 2rem 2rem;
  }
}

@media (max-width: 720px) {

  .container_content {
      margin-top: 2.5rem;
  }

}
