.header {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--lightest-grey);
    padding: 0.8rem 1.75rem 1.4rem;

    &_search {
        margin-top: 0.85rem;
    }
}

@media (max-width: 1160px) {

    .header {
        grid-template-columns: 2fr 1.5fr;
    }

}

@media (max-width: 720px) {

    .header {
        grid-template-columns: 1fr;
        justify-items: center;
    }

}
